{{#link-to "book.detail" bookId}}
    <div class="list-item">
            <div class="li-text">
                <span class="book">{{bookName}}</span>
                <span class="author">{{bookAuthor}}</span>
            </div>
    </div>
{{/link-to}}