<form onsubmit={{action "submitForm"}}>
  <div class="field">
    <label>Event Date</label>
    {{input type="date" placeholder="Event Date" value=eventDate}}
  </div>

  <div class="form-footer">
    <button type="submit" class="btn-submit">save</button>
  </div>
</form>