<form onsubmit={{action "submitForm"}}>
  <div class="field">
    <label>First Name</label>
    {{input type="text" placeholder="First Name" value=firstName}}
  </div>

  <div class="field">
    <label>Middle Name</label>
    {{input type="text" placeholder="Middle Name" value=middleName}}
  </div>

  <div class="field">
    <label>Last Name</label>
    {{input type="text" placeholder="Last Name" value=lastName}}
  </div>

  <div class="form-footer">
    <button type="submit" class="btn-submit">save</button>
  </div>
</form>