{{#link-to "speaker.detail" speakerId}}
    <div class="list-item">
            <div class="li-text">
                <span class="book">{{firstName}}</span>
                <span class="author">{{middleName}}</span>
                <span class="author">{{lastName}}</span>
            </div>
    </div>
{{/link-to}}