<form onsubmit={{action "submitForm"}} class="details">
        <div class="d-header">
            <span>Cпикер</span>
            <div class="d-items">
                {{#link-to "speaker.index" class="btn btn-white"}}<span>Вернуться</span>{{/link-to}}
                <button class="btn btn-blue" type="submit">Сохранить</button>
            </div>
        </div>
        <div class="d-desc">
            <div class="d-desc-item">
                firstName
                {{input type="text" value=firstName}}
            </div>
            <div class="d-desc-item">
                middleName
                {{input type="text" value=middleName}}
            </div>
            <div class="d-desc-item">
                lastName
                {{input type="text" value=lastName}}
            </div>
        </div>
</form>