<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "speaker" class="btn-back"}}
      <span class="sr-only">{{t "back"}}</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
        <h3>{{t "speaker.edit"}}</h3>
      </div>
    </div>

    <div class="slide-out-content">
        {{speaker-form speaker=model onsubmit=(action "editSpeaker")}}
    </div>
  </div>
</div>