

<div class="slide-out-bg"></div>

<div class="slide-out">
    <div class="slide-out-card">
        {{#link-to "book.index" class="btn-back"}}
        <span class="sr-only">Back</span>
        {{/link-to}}

        <div class="slide-out-heading">
            <div class="title">
                <h3>Search By Tag</h3>
            </div>
        </div>

        <div class="slide-out-content">
            <ul class="collection">
                {{#each model as |book|}}
                    {{book-item bookId=book.id bookName=book.bookName bookAuthor=book.author tagName='li'}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
