<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "report" class="btn-back"}}
      <span class="sr-only">{{t "back"}}</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
        <h3>{{t "report.edit"}}</h3>
      </div>
    </div>

    <div class="slide-out-content">
        {{report-form report=model onsubmit=(action "editReport")}}
    </div>
  </div>
</div>