<div class="app">
    <nav class="main-nav">
        <h1 class="logo">
            {{#link-to "index"}}
            <span class="logo">Книжный клуб</span>
            {{/link-to}}
        </h1>

        <ul>
            <li>
                {{#link-to "book"}}Книги{{/link-to}}
            </li>
            <li>
                {{#link-to "speaker"}}Спикеры{{/link-to}}
            </li>
            <li>
                {{#link-to "report"}}Доклады{{/link-to}}
            </li>
            <li>
                {{#link-to "event"}}Встречи{{/link-to}}
            </li>
        </ul>
    </nav>

    <main class="app-content">{{outlet}}</main>
</div>