<div class="container">
    <div class="nav">
        {{#link-to "index" class="logo"}}Книжный клуб{{/link-to}}
        <div class="nav-links">
            {{#link-to "book"}}Книги{{/link-to}}
            {{#link-to "speaker"}}Спикеры{{/link-to}}
        </div>
    </div>
</div>
{{outlet}}