<div class="slide-out">
  <div class="slide-out-card">

    <div class="slide-out-heading">
      <div class="title">
        <h3>{{t "application.login"}}</h3>
      </div>
    </div>

    <div class="slide-out-content">
      {{login-form user=model errors=errors onsubmit=(action "login")}}
    </div>
  </div>
</div>