<div class="slide-out">
  <div class="slide-out-card">

    <div class="slide-out-heading">
      <div class="title">
        <h3>Register</h3>
      </div>
    </div>

    <div class="slide-out-content">
      {{register-form user=model errors=errors onsubmit=(action "createUser")}}
    </div>
  </div>
</div>