<div class="container">
        <div class="menu">
            <span>Спикеры</span>
              {{input type="text" placeholder="Поиск по спикерам" value=search class="search field"}}
            {{#link-to "speaker.create" class="btn btn-blue"}}Добавить{{/link-to}}
        </div>
</div>
 {{#if isLoading}}
    <h2>loading</h2>
  {{else}}
  <div class="container">
        {{#each model as |speaker|}}
          {{speaker-item tagName='' speakerId=speaker.id firstName=speaker.firstName middleName=speaker.middleName lastName=speaker.lastName}}
        {{/each}}      
    </div>
{{/if}}
{{outlet}}